# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Zombie Project.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity\Unity Projects\Zombie Project\.idea\.idea.Zombie Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
